.vs/
build/
build-minimal3d/
build-physics3d/
build-physics2d/
build-nophysics/
build-runtime/
build-xbox-smoke-uwp/
out/

Samples/Minimal3D/Assets/Models/gummybear.fbx

bin/Debug/
bin/Release/

*.user
*.suo
*.VC.db
*.VC.opendb
CMakePresets.json.user
JevaingEditor.ini
